# Ignore everything
*

# Allow directories
!*/

# Allow org files
!*.org

# Allow project files
!.gitignore
!README.md
!pyproject.toml
!LICENSE

# Allow source code
!src/py_tender_cli/*.py

# Allow tests
!tests/*.py
# Allow scripts for diagnostic tests
!scripts/*.py
